.perfil-info {
    display: grid;
    grid-template-columns: 20% auto;
    gap: 10px;
    margin: 20px auto;

    .avatar {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        .p-avatar {
            width: 100px;
            height: 100px;
            font-size: 2.5rem;
        }
    }

    .details {
        display: flex;
        flex-direction: column;
        justify-content: center;

        p {
            margin: 5px 0;
            font-size: 1.2rem;
        }
    }
}