@use '../../vars.scss' as vars;

.perfil-info {
    display: grid;
    grid-template-columns: 20% auto;
    gap: 10px;
    margin: 20px auto;

    @media (max-width: vars.$breakpoint-mobile) {
        grid-template-columns: 1fr;
        justify-items: center;
        text-align: center;
    }

    .avatar {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        .p-avatar {
            width: 100px;
            height: 100px;
            font-size: 2.5rem;
        }
    }

    .details {
        display: flex;
        flex-direction: column;
        justify-content: center;

        @media (max-width: vars.$breakpoint-mobile) {
            width: 100%;
            align-items: center;
        }

        p {
            margin: 5px 0;
            font-size: 1.2rem;
        }

        .p-button {
            width: fit-content;
            align-self: flex-start;
            margin: 0 5px;

            @media (max-width: vars.$breakpoint-mobile) {
                align-self: center;
                margin-top: 10px;
            }
        }

        .p-inputtext {
            width: 100%;
            max-width: 400px;
            margin: 5px 0;
        }
    }
}