@use '../../vars.scss' as vars;

.container{
    margin-top: 5em;
    border-radius: 15px;
    justify-self: center;
    justify-content: center;
    max-height: calc(100vh - 80px);
    width: 25vw;
    min-width: 300px;
    padding: 1em;
    background-color: vars.$primary-color;
    border: 1px solid darken(vars.$secondary-color, 10%);
    overflow-y: auto;

    @media (max-width: vars.$breakpoint-mobile) {
        width: 90vw;
        margin-top: 2em;
        max-height: none;
        padding: 0.5em;
    }
}