@use '../../vars.scss' as vars;

.long-container{
    margin-top: 2em;
    margin-bottom: 2em;
    border-radius: 15px;
    justify-self: center;
    justify-content: center;
    width: 75vw;
    min-width: 300px;
    padding: 1em;
    background-color: vars.$primary-color;
    border: 1px solid darken(vars.$secondary-color, 10%);
    overflow-y: auto;

    @media (max-width: vars.$breakpoint-mobile) {
        width: 95vw;
        padding: 0.5em;
        margin-top: 1em;
    }
}