@use '../../vars.scss' as vars;

.row {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 5px;

}

.content {
    margin-top: 10px;
}

.p-button-danger{
    justify-content: right;
}

.p-button-success{
    justify-content: right;
}