@use '../../vars.scss' as vars;

.admin-row {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 5px;

    @media (max-width: vars.$breakpoint-mobile) {
        flex-wrap: wrap;
        justify-content: center;
    }
}

.content {
    margin-top: 10px;

    .p-button-danger {
        justify-content: right;
    }

    .p-button-success {
        justify-content: right;
    }
}