@use "../../vars.scss" as vars;

.navbar {
    background-color: vars.$primary-color;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    box-sizing: border-box;
    overflow: visible;
    border-bottom: 1px solid rgba(0,0,0,0.1);

    .p-menubar-button {
        color: vars.$tertiary-color; 
        
        &:hover {
            background-color: vars.$secondary-color;
        }
    }

    .p-button {
        margin: 0 2.5px;
        padding: 0.5rem 0.7rem;
        font-size: 1rem;
        border-radius: 4px;
        background-color: vars.$primary-color;
        transition: background-color 0.3s ease;
    }

    .p-button-icon {
        color: vars.$tertiary-color;
        margin-right: 10px;
    }

    .p-button-label {
        color: vars.$text-primary-color;
    }


    .p-menubar-root-list {
        display: flex;
        align-items: center;

        .p-menuitem {
            .p-menuitem-link {
                padding: 1rem 1.5rem;
                color: vars.$text-primary-color;
                font-size: 1.2rem;
                border-radius: 4px;
                transition: background-color 0.3s ease;

                &:hover {
                    background-color: vars.$secondary-color;
                }

                .p-menuitem-icon {
                    color: vars.$tertiary-color;
                }

                .p-menuitem-text {
                    color: inherit;
                }
            }
        }
    }

    @media (max-width: vars.$breakpoint-mobile) {
        padding: 0.5em;

        .p-button .p-button-label, 
        #login-button, #register-button {
             font-size: 0.9rem;
             padding: 0.5rem;
        }

        .p-menubar-root-list {
            display: none;
            width: 100%;
            position: absolute;
            top: 60px; 
            left: 0;
            background-color: vars.$primary-color;
            box-shadow: 0 4px 6px rgba(0,0,0,0.1);
            flex-direction: column;
            padding: 1rem 0;
            z-index: 999;
            
            .p-menuitem {
                width: 100%;
                .p-menuitem-link {
                    width: 100%;
                    padding: 1rem 2rem;
                }
            }
        }

        &.p-menubar-mobile-active .p-menubar-root-list {
            display: flex;
        }
    }
}

#login-button,
#perfil-button,
#register-button {
    padding: 1rem 1.5rem;
    color: vars.$text-primary-color;
    font-size: 1.2rem;
    border-radius: 4px;
    transition: background-color 0.3s ease;

    &:focus {
        outline: none;
        box-shadow: none;
    }

    &:hover {
        background-color: vars.$secondary-color;
    }

    &.p-button-active {
        background-color: vars.$secondary-color;
    }
}

.popup {
    margin-top: 10px;
    background-color: vars.$primary-color;
    padding: 2em;
    border-radius: 8px;
    box-shadow: vars.$box-shadow;
    width: 300px;
    font-size: smaller;

    h3 {
        margin-bottom: 1em;
        color: vars.$text-primary-color;
    }

    form {
        display: flex;
        flex-direction: column;

        .p-inputtext {
            margin-bottom: 1em;
            padding: 15px;
            width: 100%;
            height: 2em;
        }

        .p-button {
            width: 100%;
            height: 2em;
        }
    }

    .p-button {
        width: 100%;
        height: 2em;
        background-color: vars.$tertiary-color;
        color: vars.$primary-color;
        display: flex;
        flex-direction: row-reverse;

        &:hover {
            background-color: darken(vars.$tertiary-color, 10%);
        }

        .p-button-icon {
            margin-right: 15px;
        }
    }
}