@use '../../vars.scss' as vars;

#buttons {
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;

    @media (max-width: vars.$breakpoint-mobile) {
        flex-direction: column;
        width: 100%;

        .p-button {
            width: 100%;
        }
    }
}