@use '../../../vars.scss' as vars;

#category-table {
    display: flex;
    align-items: center;
    margin: 10px;
    justify-content: space-between;

    .p-inputtext {
        padding: 0.5rem 0.7rem;
        margin-right: 0.5rem;

    }

    .p-button {
        padding: 0.5rem 0.7rem;
        font-size: 1rem;
        border-radius: 4px;
        background-color: vars.$tertiary-color;
        transition: background-color 0.3s ease;
    }

    .p-button-icon {
        margin-right: 5px;
    }
}