@use '../../../vars.scss' as vars;

#category-table {
    display: flex;
    align-items: center;
    margin: 10px;
    justify-content: space-between;

    @media (max-width: vars.$breakpoint-mobile) {
        flex-direction: column;
        align-items: stretch;
        gap: 10px;

        .p-button {
            width: 100%;
        }
    }
}