.auction-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    margin: 10px 20px;
    font-size: 1.5em;
}

.auction-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px;
    gap: 10px;

    .p-card {
        width: 30vw;
        padding: 10px;
    }
}