.form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    .p-button {
        margin-top: 15px;
    }
}

.row {
  display: flex;
  width: 100%;
  gap: 5px;

  > * {
    flex: 1 1 0;
    min-width: 0;
  }

  .select-place {
    flex: 1.8;
  }

}