@use './vars.scss' as vars;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: vars.$secondary-color;
  padding-top: 60px;
  min-height: 100vh;
  box-sizing: border-box;
}

.p-inputtext {
  padding: 0.5rem 0.7rem;
  margin-right: 0.5rem;

}

.p-button {
  margin: 0 2.5px;
  padding: 0.5rem 0.7rem;
  font-size: 1rem;
  border-radius: 4px;
  background-color: vars.$tertiary-color;
  transition: background-color 0.3s ease;
}

.p-button-icon {
  margin-right: 5px;
  color: white;
}

.p-button-label {
  color: white;
}

.p-button-danger {
  background-color: #ef4444;
  margin: 0;
  border-radius: 6px;
}

.p-button-success {
  background-color: #22c55e;
  margin: 0;
  border-radius: 6px;
}

.p-confirm-dialog {
  .p-dialog-content {
    padding: 1rem !important;
  }

  .p-dialog-header {
    padding: 0.5rem 1rem !important;
  }

  .p-dialog-footer {
    padding: 0.5rem 1rem !important;
  }
}

.hidden {
  display: none;
}