$primary-color: #fff;
$secondary-color: #f5f5f5;
$tertiary-color: #0033ff;
$text-primary-color: black;
$sucess-color: #22c55e;
$danger-color: #ef4444;
$box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

$breakpoint-mobile: 768px;