@use '../../vars.scss' as vars;

.notfound-title {
    font-size: 8rem;
    font-weight: bold;
    color: vars.$primary-color;
    margin: 0;
    line-height: 1;
}

.notfound-subtitle {
    font-size: 2rem;
    margin: 1rem 0;
}

.notfound-message {
    font-size: 1.2rem;
    margin: 2rem 0;
}

.notfound-buttons {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-top: 2rem;
}

@media (max-width: vars.$breakpoint-mobile) {
    .notfound-title {
        font-size: 5rem;
    }

    .notfound-subtitle {
        font-size: 1.5rem;
    }

    .notfound-buttons {
        flex-direction: column;

        .p-button {
            width: 100%;
        }
    }
}